<div class="tab-content js-tab-content" style="display: none;">
  <h3>Ô chữ</h3>
  <p>Chọn lần lượt các ô chữ và trả lời để nhận gợi ý về từ khoá là cột đang được in đậm</p><br>

  <% answers.each_with_index do |answer, answers_index| %>
    <%= render "answer", answer: answer, answers_index: answers_index, index: index %>
  <% end %>

  <% questions.each_with_index do |question, question_index| %>
    <%= render "question", question: question, question_index: question_index %>
  <% end %>
</div>
