<div class="tab-content js-tab-content" style="display: none;">
  <h3>Ô chữ</h3>
  <p>Chọn lần lượt các ô chữ và trả lời để nhận gợi ý về từ khoá là cột đang được in đậm</p><br>

  <% questions.zip(answers).each_with_index do |pair, pair_index| %>
    <% question = pair[0] %>
    <% answer = pair[1] %>

    <%= render "answer", answer: answer, answers_index: pair_index, index: index %>
    <%= render "question", question: question, answer: answer, question_index: pair_index %>
  <% end %>
</div>
