<div class="container minigame-container">
  <h2 class="title">Ô CHỮ VUI VẺ</h2>

  <div class="tab">
    <button class="tab-links js-tab-links active" data-index="0">Luật chơi</button>
    <button class="tab-links js-tab-links" data-index="1">Ô chữ</button>
  </div>

  <%= render "rule_content" %>
  <%= render "game_content", answers: @answers, questions: @questions, index: @index %>
</div>
