@import "bootstrap-sprockets";
@import "bootstrap";

.title {
  text-align: center;
  margin-bottom: 15px;
}

.row-answer {
  text-align: center;

  .answer {
    display: inline-block;

    .answer-char {
      float: left;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin: 3px;
    }

    .answer-char-hidden {
      color: #ffffff;
    }
    
    .has-text {
      border: 1px solid black;
    }
    
    .final-answer {
      font-weight: 600;
      border-width: 2px;
    }
  }
}
